h1{
  text-align: center;
  
  padding: 20px;
}


body{
  background-color:tomato;
}
.App{
  background-color:black;
  min-height:700px;
  width: 800px;
  margin: 100px auto;
}

#to-do-form input{
  background-color: rgb(27, 45, 137);
  border: 0; 
  color: #fff;
  width: 400px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
}
#to-do-form input::placeholder{
  color: rgba(255,255,255,0.5);
}
#to-do-form input:focus{
  outline: none;
}
#to-do-form button{
  height: 50px;
  width: 100px;
  border-radius: 5px;
  border: 0;
  background-color:#00FF00; 
  cursor: pointer;
}
#to-do-form button:focus{
  outline: none;
}